body{
    display: grid;
    grid-template-columns: 8% 92%;
    background-color: white;  
}
aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    font-size: 12px;
    
}

aside div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botones{
    text-decoration: none;
    color: black;
    float: left;
    display: block;
    background-color:rgb(210, 206, 206);
    border-radius: 5px;
}
.textoaside{
    text-decoration: none;
    color: black;
}
#cuadriculaDeVideos{
    display: grid;
    background-color: black;
    grid-template-columns: 25% 25% 25% 25%;
}
#buscar{
height: 35px;
border-radius: 25px 0px 0px 25px;
padding-left: 15px;
width: 500px;
}

.inputylupa{
    display: flex;
    align-items: center;
}
#botonlupa{
    border-radius: 0px 25px 25px 0px;
    border-left: none;
    height: 40px;
    width: 50px;

 
}

#microboton{
    border-radius: 25px;
    height: 35px;
    width: 35px;
    border: 1px solid black;
    }


.iconos{
    width: 20px;
    margin: 0px;
    padding: 0px;
}

.contenedor1{
    grid-column-start: auto;
    grid-column-end: -1;

}

.video{
    width: 90%;
    border-radius: 10px;
}

.videos{
    display: flex;
    flex-direction: column; 
}

.boton{
    border: none;
    border-radius: 15px;
    padding: 15px;
    background-color: rgb(233, 231, 231);

}

.column{
    flex: 25%; 
}

.inferior {
    display: flex;
    gap: 12px;  
}

.micro{
    border: none;
}

.nav{
    align-items: center;
    display: flex; 
    justify-content: space-between;
    width: 96%;
}

.input{
    display: flex;
    align-items: center;
    gap: 25px;

}

.inferior{
    width: 90%;
    margin-top: 0px;
}


.imgcanal{
   border-radius: 20px;
    width: 40px;
}

.pruebacanalpeque{
    margin-top: 10px;
    width: 30px;
    border-radius: 20px;
  
}

.textopeque{
    font-size: 10px;
    color: dimgrey;
}

.columnaminiatura{
    color:black
}

#lupa{
    width: 20px;
    height: 20px;
}

.micro{
    width: 20px;
    height: 20px;
}
/*
.pruebacanal{
    display: flex;
    flex-direction: column;
}
*/
